
#unloosen-main-div input {
  background-color: #ffffff;
  width: 100%;
  color: #333;
  border: 1px solid #666;
  box-sizing: border-box;
  border-radius: 2px;
}

#unloosen-main-div select {
  background-color: #ffffff;
  width: 100%;
  color: #333;
  border: 1px solid #666;
  box-sizing: border-box;
  border-radius: 2px;
}

#unloosen-main-div input.has-default-value {
  background-color: #d7d7d7;
}
