
#unloosen-main-div {
  input {
    background-color: #F9F9F9;
    width: 100%;
    color: #333;
    border: 1px solid #666;
    box-sizing: border-box;
    border-radius: 2px;
  }

  select {
    background-color: #F9F9F9;
    width: 100%;
    color: #333;
    border: 1px solid #666;
    box-sizing: border-box;
    border-radius: 2px;
  }

  input {
    &.has-default-value { background-color: #d7d7d7;}
    &:focus { border: 2px solid #666; }
    &:nth-of-type(1) { background-color: #ECC5FB; }
    &:nth-of-type(6) { background-color: #ECC5FB; }
    &:nth-of-type(7) { background-color: #ECC5FB; }
    &:nth-of-type(8) { background-color: #ECC5FB; }
    &:nth-of-type(9) { background-color: #d7d7d7; }
    &:nth-of-type(10) { background-color: #ECC5FB; }
    &:nth-of-type(11) { background-color: #ECC5FB; }
    &:nth-of-type(17) { background-color: #d7d7d7; }
    &:nth-of-type(18) { background-color: #d7d7d7; }
  }

   button {
   width: auto;
   margin-top: 6px;
   padding: 6px;
   box-sizing: border-box;
   border-radius: 4px;
   cursor: pointer;
   box-shadow: #666 2px 2px;
  }

  button.unloosen-button {
    &.small { padding: 2px; }
    &.secondary {
      background-color: #F9F9F9;
      color: blue;
      border: 2px solid blue;
      &:hover { background-color: #f0f0f0; }
      &:active { background-color: #b0c4de; }
    }
    &.nutral {
      background-color: #F9F9F9;
      color: #333;
      border: 2px solid #666;
      &:hover { background-color: #f0f0f0; }
      &:active { background-color: #b0c4de; }
    }
    &.primary {
      background-color: #4169e1;
      color: #f5f5f5;
      border: 2px solid blue;
      box-shadow: #666 2px 2px ;
      &:hover { background-color: #6495ed; }
      &:active { background-color: blue; }
    }
    &.danger-primary {
      background-color: red;
      color: #F9F9F9;
      border: 2px solid red;
      box-shadow: #666 2px 2px;
      &:hover { background-color: rgb(233, 103, 103); }
      &:active { background-color: rgb(177, 0, 0); }
    }
  }

  button.unloosen-button {
    &.show-modal {
      background-color: #FAF4B7;
      border: 2px solid #666;
    }
  }
}

#unloosen-modal-div {
  button {
    width: auto;
    margin-top: 6px;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: #666 2px 2px;
    &.nutral {
      background-color: #F9F9F9;
      color: #333;
      border: 2px solid #666;
      &:hover { background-color: #f0f0f0; }
      &:active { background-color: #b0c4de; }
    }
    &.danger-primary {
      background-color: red;
      color: #F9F9F9;
      border: 2px solid red;
      box-shadow: #666 2px 2px;
      &:hover { background-color: rgb(233, 103, 103); }
      &:active { background-color: rgb(177, 0, 0); }
    }
  }
  th, td { border: solid 1px; }
}